.flex {
  display: flex;
  gap: map-get($map: $gaps, $key: "big");
  @media screen and (max-width: 1245px) {
    gap: map-get($map: $gaps, $key: "small");
  }
}
.flex-column {
  display: flex;
  flex-direction: column;
  gap: map-get($map: $gaps, $key: "big");
  @media screen and (max-width: 1245px) {
    gap: map-get($map: $gaps, $key: "small");
  }
}
