h1 {
  font-size: map-get($map: $font-sizes, $key: "large");
  font-weight: 500;
  color: map-get($map: $colors, $key: "black");
  margin: 0;
}

h1 span {
  color: map-get($map: $colors, $key: "red");
}

.charts-container {
  margin-top: 75px;
}

.chart-container {
  border-radius: $border-radius;
  background-color: map-get($map: $colors, $key: "very-light-gray");
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  svg {
    width: 100%;
  }
}

.charts-left-section {
  width: 75%;
}

.charts-right-section {
  width: 25%;
}
