.line-chart-container {
  background-color: map-get($map: $colors, $key: "red") !important;
  // height: 260px;
  // width: 260px;
  padding: 30px;
  padding-bottom: 0;
  @media screen and (max-width: 1245px) {
    padding: 15px;
  }
  h2 {
    color: rgba(white, 0.5);
    margin: 0;
    font-size: map-get($map: $font-sizes, $key: "medium-small");
  }
  text {
    font-size: map-get($map: $font-sizes, $key: "very-small");
    color: rgba(white, 0.5);
  }
  .line-chart-tooltip {
    position: absolute;
    background-color: white;
    text-align: center;
    color: black;
    font-size: map-get($map: $font-sizes, $key: "small");
    padding: 5px 10px;
    &.hidden {
      display: none;
    }
  }
  .bottom-section {
    position: relative;
    circle {
      &:hover {
        fill: white;
      }
    }
  }
}
