.line-chart-container {
  background-color: map-get($map: $colors, $key: "red");
  height: 260px;
  width: 260px;
  h2 {
    color: rgba(white, 0.5);
    padding-top: 30px;
    padding-inline: 30px;
    font-size: map-get($map: $font-sizes, $key: "medium-small");
  }
  text {
    font-size: map-get($map: $font-sizes, $key: "very-small");
    color: rgba(white, 0.5);
  }
  .line-chart-tooltip {
    position: absolute;
    background-color: white;
    text-align: center;
    color: black;
    font-size: map-get($map: $font-sizes, $key: "small");
    padding: 5px 10px;
    &.hidden {
      display: none;
    }
  }
  .bottom-section {
    position: relative;
    circle {
      &:hover {
        fill: white;
      }
    }
  }
}
