@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
.flex {
  display: flex;
  gap: 30px;
}
@media screen and (max-width: 1245px) {
  .flex {
    gap: 15px;
  }
}

.flex-column {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
@media screen and (max-width: 1245px) {
  .flex-column {
    gap: 15px;
  }
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

#root {
  position: relative;
}

header {
  background-color: #020203;
  align-items: center;
  gap: 150px;
  display: flex;
}

header img {
  width: 178px;
}

header nav {
  flex-grow: 1;
}

header ul {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
}

header nav a {
  color: white;
  font-size: 24px;
  line-height: 24px;
  font-weight: 500;
  text-decoration: none;
}

.side-nav {
  background-color: #020203;
}

.side-nav > div {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: center;
}

.side-nav nav {
  width: 64px;
  margin-bottom: 80px;
}

.side-nav ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.link-side-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  width: 64px;
  height: 64px;
  border-radius: 6px;
}

.copyright-text {
  color: white;
  font-size: 12px;
  white-space: nowrap;
  position: absolute;
  bottom: 60px;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
}

.bar-chart-container {
  padding: 25px 30px;
}
@media screen and (max-width: 1245px) {
  .bar-chart-container {
    padding: 15px 15px;
  }
}
.bar-chart-container .top-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.bar-chart-container .legend-section {
  display: flex;
  gap: 32px;
}
.bar-chart-container .legend-section p {
  margin: 0;
  font-weight: 500;
  font-size: 14px;
  color: #74798c;
}
.bar-chart-container .legend-section > div {
  display: flex;
  align-items: center;
  gap: 7px;
}
.bar-chart-container .bar-chart-tooltip {
  position: absolute;
  background-color: #e60000;
  text-align: center;
  color: white;
  font-size: 14px;
  padding: 5px 10px;
}
.bar-chart-container .bar-chart-tooltip.hidden {
  display: none;
}
.bar-chart-container .tick line {
  color: #dedede;
}
.bar-chart-container .barchart-label {
  color: #9b9eac;
  font-weight: 500;
  font-size: 14px;
}
.bar-chart-container .legend-dot {
  width: 8px;
  aspect-ratio: 1/1;
  border-radius: 1000px;
}
.bar-chart-container .legend-dot-black {
  background-color: #282d30;
}
.bar-chart-container .legend-dot-red {
  background-color: #e60000;
}
.bar-chart-container h2 {
  margin: 0;
  color: #282d30;
  font-size: 15px;
}
.bar-chart-container svg {
  max-width: 100%;
  height: auto;
}
.bar-chart-container .bottom-section {
  position: relative;
}

.line-chart-container {
  background-color: #ff0000 !important;
  padding: 30px;
  padding-bottom: 0;
}
@media screen and (max-width: 1245px) {
  .line-chart-container {
    padding: 15px;
  }
}
.line-chart-container h2 {
  color: rgba(255, 255, 255, 0.5);
  margin: 0;
  font-size: 15px;
}
.line-chart-container text {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.5);
}
.line-chart-container .line-chart-tooltip {
  position: absolute;
  background-color: white;
  text-align: center;
  color: black;
  font-size: 14px;
  padding: 5px 10px;
}
.line-chart-container .line-chart-tooltip.hidden {
  display: none;
}
.line-chart-container .bottom-section {
  position: relative;
}
.line-chart-container .bottom-section circle:hover {
  fill: white;
}

.chart-container.radar-chart-container {
  background-color: #282d30;
  padding: 10px;
}
.chart-container.radar-chart-container .legend-radar-chart {
  fill: white;
  font-size: 12px;
  text-transform: capitalize;
}

.radial-bar-chart-container {
  padding: 25px;
}
@media screen and (max-width: 1245px) {
  .radial-bar-chart-container {
    padding: 15px;
  }
}
.radial-bar-chart-container h2 {
  font-size: 15px;
  margin: 0;
}

.keydata-card-container {
  display: flex;
  padding: 32px;
  align-items: center;
}
@media screen and (max-width: 1245px) {
  .keydata-card-container {
    padding: 15px;
  }
}
.keydata-card-container .img-container {
  height: 60px;
  width: 60px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 25px;
}
.keydata-card-container .txt-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.keydata-card-container .txt-container > p {
  font-size: 20px;
  font-weight: bold;
  color: #282d30;
  margin: 0;
}
.keydata-card-container .txt-container > h2 {
  font-size: 14px;
  color: #74798c;
  margin-bottom: 0;
}
.keydata-card-container.calories-card .img-container {
  background-color: rgba(255, 0, 0, 0.1);
}
.keydata-card-container.proteins-card .img-container {
  background-color: rgba(74, 184, 255, 0.1);
}
.keydata-card-container.carbohydrates-card .img-container {
  background-color: rgba(249, 206, 35, 0.1);
}
.keydata-card-container.lipids-card .img-container {
  background-color: rgba(253, 81, 129, 0.1);
}

header {
  background-color: #020203;
  padding-inline: 30px;
  height: 90px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
}

main {
  margin-left: 114px;
  padding: 50px 100px;
  min-height: calc(100vh - 190px);
}
@media screen and (max-width: 1350px) {
  main {
    padding: 25px 50px;
    min-height: calc(100vh - 140px);
  }
}

.side-nav {
  width: 114px;
  position: absolute;
  left: 0;
  top: 90px;
  bottom: 0;
}

h1 {
  font-size: 48px;
  font-weight: 500;
  color: #020203;
  margin: 0;
}

h1 span {
  color: #ff0000;
}

.charts-container {
  margin-top: 75px;
}

.chart-container {
  border-radius: 6px;
  background-color: #fbfbfb;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
}
.chart-container svg {
  width: 100%;
}

.charts-left-section {
  width: 75%;
}

.charts-right-section {
  width: 25%;
}

/*# sourceMappingURL=main.css.map */
